<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <!-- 
        begin: 
        only allow CS staff can access this folder.
        Note: if there is more role except student and staff, should add more 'deny' element
        for example, one more role 'alumni', should add 
                deny roles="alumni"
      -->
      <deny roles="student"/>
      <allow roles="cs"/>
      <!-- end -->
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>

