<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <authentication mode="Forms">
      <forms name=".auth" loginUrl="login.aspx">
        <credentials passwordFormat="Clear">
          <user name="user1" password="123123"/>
          <user name="user2" password="123123"/>
          <user name="user3" password="123123"/>
          <user name="user4" password="123123"/>
          <user name="user5" password="123123"/>
        </credentials>
      </forms>
    </authentication>

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <location path="protectpage1.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="protectpage2.aspx">
    <system.web>
      <authorization>
        <allow users="user3"/>
        <allow roles="manager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>